<%= render 'partials/header' %>

<div class="PostContainer">
  <% if @latest_post.blank? %>
    <h2>
      No posts yet!
    </h2>
  <% else %>
    <h2>
      <%= @latest_post.title %>
    </h2>
    <div class='detail'>
      Added <%= @latest_post.created_at.strftime('%D') %>
    </div>

    <%= markdown_render(@latest_post.content) %>
  <% end %>
</div>