<div class='TopHeader'>
  <h1>
    Megan Marie
  </h1>
  <div class='NavigationBar'>
    <% if user_signed_in? %>
      <%= link_to 'New', '' %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <a href='https://www.instagram.com/nuttmeg610' target='_'>
        <span class='fa fa-instagram'/>
      </a>
      <a href='https://twitter.com/meganmarie610' target='_'>
        <span class='fa fa-twitter'/>
      </a>
      <a href='https://www.linkedin.com/in/megan-marquardt' target='_'>
        <span class='fa fa-linkedin'/>
      </a>
    <% end %>
  </div>
</div>