<div class='NavigationBar'>
  <%= link_to 'Instagram', 'https://www.instagram.com/nuttmeg610' %>
  <%= link_to 'Twitter', 'https://twitter.com/meganmarie610' %>
  <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/megan-marquardt' %>
</div>
