<div class='PostNavigator'>
  <div>
    <% if post.previous.present? %>
      <%= link_to "Read Previous: #{post.previous.title}", post_path(post.previous) %>
    <% end %>
  </div>
  <div>
    <%= link_to 'All Posts', posts_path %>
  </div>
  <div>
    <% if post.next.present? %>
      <%= link_to "Read Next: #{post.next.title}", post_path(post.next) %>
    <% end %>
  </div>
</div>
