/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

/* Taken from https://gist.github.com/davidgilbertson/ad24b42b0eddde2dc6b1b51f9460af11#file-css-breakpoint-mixins-scss */
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


body {
  margin: 0 24px;

  @include for-tablet-portrait-up {
    margin: 0 72px;
  }
}

h1 {
  color: darkblue;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  margin: 32px 0 16px 0;

  @include for-tablet-portrait-up {
    font-size: 60px;
    margin: 40px 0 32px 0;
  }
}

h2 {
  color: darkblue;
  font-size: 24px;
  margin: 28px 0 16px 0;
  font-family: 'Roboto Slab', serif;

  @include for-tablet-portrait-up {
    font-size: 36px;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: gray;

  @include for-tablet-portrait-up {
    font-size: 24px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  color: darkblue;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}


.FlashBar {
  height: 24px;
  margin-top: 12px;
  .notice, .alert {
    margin: 0;
    font-size: 12px;
  }
}

.TopHeader {
  display: flex;
  flex-direction: column;

  h1 {
    flex-grow: 1;
    text-align: center;
  }

  @include for-tablet-portrait-up {
    flex-direction: row;
    h1 {
      text-align: left;
    }
  }
}

.NavigationBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;

  a {
    color: lightblue;
    text-decoration: none;
    padding: 8px 12px;

    &:hover {
      color: darkblue;
    }
  }

  @include for-tablet-portrait-up {
    font-size: 24px;
    a {
      padding: 8px 12px;
    }
  }
}

.detail {
  font-family: 'Roboto', sans-serif;
  color: lightblue;
  font-size: 12px;
  @include for-tablet-portrait-up {
    font-size: 16px;
  }
}

.p-style {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: gray;
}

.h2-style {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  color: darkblue;

}

.simple-field {
  border: 0;
  border-left: 2px solid darkblue;
  padding: 0 8px;
  margin: 0 0 24px 0;

  &.big-text-box {
    height: 480px;
  }
}

.field_with_errors {
  .simple-field {
    border-left: 2px solid red;
    width: 100%;
  }
}

.button {
  background-color: darkblue;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  color: white;
  align-self: center;
  border: none;
  border-radius: 16px;
  padding: 8px 24px;
  margin: 32px 0;
  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }
}



